@tailwind utilities;

:root {
  --orkut-blue-bg: #D4E2FB;
  --orkut-blue-dark: #6D84B4;
  --orkut-pink: #E91E63;
  --orkut-white: #FFFFFF;
}

body {
  background-color: var(--orkut-blue-bg);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-block {
  display: flex;
  gap: 20px;
}
.orkut-header{
  background: linear-gradient(#6d84b4,#4e6aa3);
  height:50px;
  display:flex;
  align-items:center;
}

.header-container{
  width:1100px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  color:#e91e63;
  font-weight:bold;
  font-size:24px;
}

.menu a{
  margin-right:15px;
  color:white;
  font-size:14px;
  cursor:pointer;
}

.container-block {
  background-color: #E8EEFA;
  border: 1px solid #99ABC9;
  padding: 20px;
  width: 400px;
  height: 500px;
  border-radius: 8px;
}

.container-block h1 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.container-block h2 {
  font-size: 12px;
  margin-bottom: 4px;
  color: #666;
}

.container-block input[type="name"],
.container-block input[type="email"],
.container-block input[type="password"],
.container-block input[type="confirm-password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #7F9DB9;
  margin-bottom: 10px;
  font-size: 13px;
}

.container-block label {
  font-size: 11px;
  color: #333;
}

.container-block a {
  display: block;
  font-size: 10px;
  color: #0000CC;
  text-decoration: underline;
  margin-top: 10px;
}

.container-block div {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px dashed #99ABC9;
  text-align: center;
}

.container-block div h2 {
  font-size: 13px;
  margin-bottom: 10px;
}
.container-block img {
  display: block;
  margin: 0 auto 20px auto;
}

.main-home{
  width:1100px;
  margin:20px auto;
  display:grid;
  grid-template-columns: 250px 1fr 250px;
  gap:20px;
}

.column-left,
.column-center,
.column-right{
  background:white;
  border-radius:10px;
  padding:15px;
}

.post-input{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}
